.horizontal {
  left: 0;
  box-sizing: border-box;
  margin: 0.8rem auto;
  width: 100%;
  min-width: 1rem;
  height: 0.3rem;
  border-radius: 6px;
  background-color: #8e7f8e;
  opacity: 0.07;
}
.vertical {
  box-sizing: border-box;
  width: 0.3rem;
  min-height: 1rem;
  border-radius: 6px;
  background-color: #8e7f8e;
  opacity: 0.1;
}
.horizontal.absolute {
  position: absolute;
  background-color: transparent;
}
.horizontal.absolute::after {
  content: '';
  position: absolute;
  top: 0px;
  top: -0.8rem;
  top: -1.9rem;
  height: 0.3rem;
  width: 100%;
  background-color: #8e7f8e;
}
.vertical.absolute::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.3rem;
  background-color: #8e7f8e;
}
.margin {
  margin: 0.8rem;
  width: 0.3rem;
  height: 0.3rem;
}
